<!DOCTYPE html>
<html lang="en">

<%- include('./../layout/head') %>
    <style>
        #nav #savebutton {display:none;}
        #nav a:nth-child(2) {display: none;}
    </style>
    <body>
        <%- include('./../layout/header') %>
            
            <div id="five">

           <section id="one">
                
                <form action="/search">
                    <input type="text" name="origin" id="origin" value="Enter a Departure Location">
                    <input type="text" name="desination" id="desination" value="Enter an Arrival Location">
                    <select name="category">
                        <option>Select a Category</option>
                        <option id="breweries">Breweries</option>
                        <option id="bed_and_breakfast">Boutique Hotels</option>
                        <option id="museums">Museums</option>
                        <option id="comics">Comic Book Shops</option>
                    </select>
                    <input type="submit">

                    </form>
                    <p>---- or ----</p>
                    <form action="/savedRoute">
                    <select id="saved1" name="saved">
                        <option>Select a Saved Route (Optional)</option>
                        <% data.forEach(val => {%>
                            <option value="<%= val.id%>" ><%= val.origin%> to <%= val.desination%> - <%= val.category%> </option>
                        <% }); %>
                        <input type="submit">
                    </select>
                </form>
            </section> 
        </div>
            <%- include('./../layout/footer') %>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</html>
